body{
    background-color: #E8F7F7;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(142, 126, 158);
    color: white;
    font-size: 25px;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 25%;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }